/*****************************************************************************
 *  Сайт Machine Group
 *
 *  Author: Sergey Kerimov
 *  e-mail: serker72@gmail.com
 *****************************************************************************/

body {
    font-family: MyriadPro;
}

/*   Классы   */
.container {
    padding-right: 0px;
    padding-left: 0px;
    width: 1200px;
    font-family: MyriadPro;
}

.logo {
    height: 145px;
    background: url('img/logo.png') no-repeat top 24px left 100px;
}

.contacts {
    font-size: 17px;
    height: 145px;
    padding: 40px 0 0 30px;
}

.contacts_phone {
    height: 45px;
}

.contacts_mail {
    height: 65px;
}

.search {
    height: 145px;
    /*padding: 0 0 0 35px;*/
}

.search_lang {
    height: 33px;
    /*width: 244px;*/
    /*text-align: right;*/
}

.search_lang ul {
}

.search_lang ul li {
    background: url('img/lang_splitter.png') no-repeat top 0px left 0px;
    display: inline;
    list-style-type: none;
    font-size: 15px;
    padding: 8px 8px 5px 11px;
}

.search_lang ul li:first-child {
    background: none;
}

.search_lang ul li:last-child {
    padding: 8px 2px 5px 11px;
}

.search_lang ul li a,
.search_lang ul li a:hover,
.search_lang ul li a:focus
{
    color: #2b2a29;
    text-decoration: none;
}

.search_find {
    height: 44px;
    padding-top: 5px;
}

.search_str {
    width: 200px;
    height: 38px;
    background-color: #f0efeb;
}

.search_button {
    width: 38px;
    height: 38px;
    background: url('img/search.png') no-repeat;
}


.navbar-nav > li {
}

.navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 17px;
    color: #feffff;
    height: 75px;
    padding-top: 27px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus,
.navbar-nav > li.dropdown.open > a.dropdown-toggle
{
    background-color: #eb3844;
}

.dropdown-menu {
    height: 165px;
    width: 450px;
    background-color: #333333;
}

ul.dropdown-menu {
  list-style-position: inside;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  height: 165px;
}

.dropdown-menu > li > a {
    color: #feffff;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
{
    color: #c73741;
    background-color: #333333;
}

.carousel-indicators {
    display: none;
}

#slider1 .carousel-caption {
    width: 500px;
    height: 450px;
    top: 0;
    left: 598px;
    padding: 120px 40px 25px 35px;
    background: url('img/slider/caption_background.png') no-repeat;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.carousel-caption-advanced-info {
    background-color: #eb3844;
    border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
    bottom: 25px;
    font-size: 16px;
    height: 40px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}

.carousel-caption-advanced-info a {
    color: #fce8e9;
    font-weight: normal;
    text-decoration: none;
}

.carousel-control.left {
    background: url('img/slider/left.png') no-repeat left 20% top 50%;
}

.carousel-control.right {
    background: url('img/slider/right.png') no-repeat right 20% top 50%;
}

.caption_title {
    padding: 10px 0 5px 0;
    background: url('img/caption_bottom.png') no-repeat bottom;
    color: #313331;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    /*width: 100%;*/
}

.services_wrapper {
    padding: 20px 0 20px 0px;
    margin: 0 auto;
    height: 210px;
    /*width: 100%;*/
}

.services_small_wrapper {
    font-size: 16px;
    /*float: left;*/
    /*margin: 0 auto;*/
    /*width: 210px;*/
    text-align: center;
}

.service_image {
}

.service_text {
    padding: 20px 10px;
}

.about_wrapper {
    background: url('img/about_bg.png') no-repeat;
    height: 250px;
    margin: 0 auto;
    padding: 0px 110px 25px 110px;
    /*width: 100%;*/
}

.about_left {
    /*float: left;*/
    height: 160px;
    padding: 25px 0 0 0;
}

.about_right {
    /*float: right;*/
    height: 160px;
    padding: 10px 0 0 40px;
}

.news_wrapper {
    background-color: #d9dada;
    height: 290px;
    margin: 0 auto;
    /*padding: 0px 105px 20px 105px;*/
    /*width: 100%;*/
}

.news_left {
    /*float: left;*/
    /*height: 160px;*/
    padding: 10px 0 0 0;
    /*width: 540px;*/
}

.news_right {
    /*float: left;*/
    /*height: 160px;*/
    padding: 10px 0 0 50px;
    /*width: 430px;*/
}

.news_date {
    font-size: 15px;
}

.news_img {
    /*float: left;*/
    height: 140px;
    width: 200px;
}

.news_text {
    /*float: left;*/
    font-size: 13px;
    /*width: 230px;*/
}

.news_text > h5 {
    font-weight: bold;
}

.news_advanced_info {
    background-color: #313331;
    border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
    height: 30px;
    margin-top: 15px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 155px;
}

.news_advanced_info > a {
    color: #feffff;
    font-size: 13px;
}

.trust_wrapper {
    height: 155px;
    /*width: 100%;*/
}


.footer_wrapper {
    height: 240px;
    width: 100%;
}

.footer_main {
    background-color: #313331;
    color: #fdfdfd;
    height: 215px;
    padding-top: 32px;
    /*width: 100%;*/
}

.footer_main_title {
    font-size: 15px;
    padding-bottom: 24px;
    text-transform: uppercase
}

.footer_services_list {
    list-style-image: url('img/services_list_marker.png');
    padding: 0 0 0 20px;
}

.footer_services_list > li > a,
.footer_contacts_row a
{
    color: #fdfdfd;
    text-decoration: none;
}

.footer_services_list > li > a:hover,
.footer_services_list > li > a:focus,
.footer_contacts_row a:hover,
.footer_contacts_row a:focus
{
    color: #c73741;
    text-decoration: none;
}

.footer_contacts_row {
    padding-bottom: 15px;
}

.footer_separator {
    background-color: #d9dada;
    height: 2px;
    /*width: 100%;*/
}

.footer_copyright {
    background-color: #313331;
    color: #fdfdfd;
    height: 30px;
    /*padding: 5px 0 5px 105px;*/
    /*width: 100%;*/
}

/*   Элементы   */
#wrapper {
}

#header {
    height: 220px;
}

#logo {
    float: left;
    width: 470px;
    height: 145px;
    background: url('img/logo.png') no-repeat top 24px left 100px;
}

#contacts {
    float: left;
    height: 145px;
    width: 370px;
    font-size: 17px;
}

#contacts_phone {
    height: 80px;
    padding: 45px 0 0 48px;
    background: url('img/i_phone.png') no-repeat top 40px left 0px;
}

#contacts_mail {
    height: 65px;
    padding: 10px 0 0 48px;
    background: url('img/i_mail.png') no-repeat top 10px left 0px;
}

#search {
    float: right;
    width: 360px;
    height: 145px;
}

#search_lang {
    height: 33px;
    /*width: 244px;*/
    /*text-align: right;*/
}

#search_lang ul {
}

#search_lang ul li {
    background: url('img/lang_splitter.png') no-repeat top 0px left 0px;
    display: inline;
    list-style-type: none;
    font-size: 15px;
    padding: 8px 8px 5px 11px;
}

#search_lang ul li:first-child {
    background: none;
}

#search_lang ul li:last-child {
    padding: 8px 2px 5px 11px;
}

#search_find {
    height: 44px;
    width: 244px;
    padding-top: 5px;
}


#search_call {
    padding-top: 20px;
    height: 68px;
    width: 244px;
}

#search_call_link {
    padding: 13px 38px 12px 50px;
    background-color: #eb3844;
    font-size: 17px;
    color: #feffff;
    text-transform: uppercase;
}

#main_menu {
    background-color: #333333;
    height: 75px;
    clear: both;
    /*padding: 0 100px;*/
    padding-left: 100px;
}

#content {
    
}

/* carousel-example-generic - это id блока со слайдшоу */

/* Здесь задается ширина слайдшоу в пикселях */
#slider2 {
    padding: 25px 20px 0 20px;
    overflow: hidden; /* Если картинка больше нужной ширины, то она будет скрыта */
    margin: 0 auto; /* Выравнивание слайдшоу по центру */
    //max-width: 200px; /* Максимальная ширина слайдшоу в пикселях */
}

/* Здесь задается высота слайдшоу в пикселях */
#slider2 .item {
  //height: 200px;
}

/* Данная строчка необходима для того, чтобы изображения было такой же высоты, что и слайд */
#slider2 img {
  //max-height: 100%;
}


#footer {
    
}

